<div class="container">
  <div class="profile">
    <div class="section">
      <div class="container">
        <div class="col lg-8 sm-12">
          <div>
            <strong><h4>☞ Hello, I&#x27;m Claire Abadji</h4></strong>
            <div class="heading-accent"></div>
          </div>
          <p>I am a Fullstack Web Developer based in Paris currently looking for new challenges !</p>
          <p>If you have any questions, feel free to <a href="mailto:claire.abadji@gmail.com">hit me up</a>. I’m available for fulltime experience or freelance project in remote 👋</p>
        </div>
      </div>
    </div>
  </div>

  <div class="projects auto-grid">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>
  </div>
</div>
